<!DOCTYPE html>
<html lang="en">
{% load static%}

<head>
    {% block head %}
    <link rel="icon" href="{% static " images/favicon.png " %}" type="image/png" sizes="16x16">
    <title>Title of the document</title>
    {% endblock %}
    <!-- Material Icon CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Your custom styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/validation.js' %}"></script>

    <!-- Used as an example only to position the footer at the end of the page.
    You can delete these styles or move it to your custom css file -->
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            background: url('{% static "images/0.jpg" %}') no-repeat center center fixed;
            background-size: cover;
            background-position: bottom;

        }

        main {
            flex: 1 0 auto;

        }
    </style>
    {%block extrahead %} {%endblock%}
</head>

<body>
    <header>
        <nav class="transparent">

            <div class="nav-wrapper">
                <a href="{home} " class="">
                    <img src='{% static "images/logo.png"%}' size="200x200">
                </a>

                {% comment %}
                <a href="{home} " class="brand-logo white-text">Team Recommender</a> {% endcomment %}
                <a href="{home} " data-activates="mobile-menu" class="button-collapse">
                    <i class="material-icons black-text">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li class="black-text">
                        <a href="{input} " class="black-text">Pick Team</a>
                    </li>
                    <li>
                        <a href="{options} " class="black-text">Know Success</a>
                    </li>
                    <li>
                        <a href="{charts}" class="black-text">Charts</a>
                    </li>

                </ul>

            </div>

        </nav>
    </header>
    <main>
        <!-- Your content here -->
        {% block content %} {% endblock %} {% block content1 %} {% endblock %}
    </main>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <!-- Materialize JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $("document").ready(function () {
            $(".button-collapse").sideNav();
        });
    </script>
</body>

</html>