{% extends 'base.html' %} {% block head%}
<title>Pick Players</title>
<style>
    /*Creates table with scrollable tbody*/

    tbody {
        display: block;
        height: 74vh;
        overflow: auto;
    }

    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    thead {
        width: calc( 100% - 1em)
    }

    table {
        width: 100%;
    }

    .bottomfix {
        position: sticky;
        bottom: 0px;
        top: 60vh;
        float: right;
    }
</style>
{%endblock%} {% block content %}
<div class="container">
    <div class="row">
        <div class="col s9 black-text">
            <div class="card grey lighten-5">

                {{playersDF.to_html|safe}}
            </div>
        </div>

        <div class="col s3 bottomfix">
            <div class="card transparent hoverable">
                <form action="{predict}" method="POST" onsubmit="return checkLength();">
                    {% csrf_token %}
                    <div class="input-field">
                        <label for="pickedPlayers">Enter 11 Player IDs</label>
                        <textarea name="pickedPlayers" id="pickedPlayers" cols="50" rows="20"></textarea>
                    </div>
                    <button class="btn waves-effect waves-light white-text" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}