{% extends 'base.html' %} {% block head%}
<title>Home</title>
{%endblock%} {% block content%}
<div class="container">
    <div class="row">
        <div class="col s6 offset-s3" style=" margin:7% 25% 0% 25% ;width: 50%;padding: 50px;">
            <div class="card white">
                <div class="card-content black-text hoverable z-depth-3">
                    <span class="card-title">Predicted Success</span>
                    <p>The team you have selected is likely to have a success rate of
                        <br> {{success}}% </p>
                </div>
                <div class="card-action">
                    <a href="{charts}">View Charts</a>
                    <a href="{home}">Go Home</a>


                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}