.myclass{
 padding: 5% 
}
/* tbody {
        display: block;
        height: 80vh;
        overflow: auto;
    }

    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    thead {
        width:100%
    }

    table {
        width: 100%;
    } */